<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Details and Editing</title>
  <style>
    body {
      background-color: black;
    }
    table {
      background-color: white;
      border: 2px solid white;
      border-radius: 10px;
      width: 70%; 
      margin: 20px auto; 
      color: black;
      font-family: Arial, sans-serif;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      color: black;
    }
    th {
      background-color: white;
      color: black;
    }
    button {
      margin-top: 40px;
      margin-left:20px;
      padding: 10px 15px;
      border: 2px solid white;
      border-radius: 10px;
      background-color: #9999CC;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    button:hover {
      background-color: black;
      color: white;
      border: 2px solid #9999CC;
    }
    .button-container {
      margin-top:-80px;
      margin-left:250px;
    
    }
  </style>
</head>
<body>
  <h1>Информация об исполнителе</h1>
  <form action="/updatestaff" method="post">
    <table>
      <tr>
        <th>Код сотрудника</th>
        <th>Должность</th>
        <th>Телефон </th>
        
        <th>Дополнительная информация</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        
      </tr>
      <tr>
        <td><input type="text" name="employeecode" value="<%= employee.employeecode %>"></td>
        <td><input type="text" name="post" value="<%= employee.post %>"></td>
        <td><input type="text" name="telephone" value="<%= employee.telephone %>"></td>
        
        <td><input type="text" name="additionalinformation" value="<%= employee.additionalinformation %>"></td>
        <td><input type="text" name="name" value="<%= employee.name %>"></td>
        <td><input type="text" name="lastname" value="<%= employee.lastname %>"></td>
        <td><input type="text" name="patronymic" value="<%= employee.patronymic %>"></td>
        
      </tr>
    </table>
    <button type="submit">Редактировать информацию</button>
  </form>
  <form action="/deletestaff" method="post">
    <input type="hidden" name="employeecode" value="<%= employee.employeecode %>">
    <div class="button-container">
    <button type="submit">Удалить сотрудника</button>
  </div>
  </form>
  <br> <button onclick="location.href='/staff'">вернуться к формам</button>
  <br> 
</body>
</html>
