
<!DOCTYPE html>
<html>
<head>
  <title>Таблица данных об участниках</title>
  <style>
    body {
      background-color: black;
    }
    table {
      background-color: white;
      border: 2px solid white;
      border-radius: 10px;
      width: 70%; 
      margin: 20px auto; 
      color: black;
      font-family: Arial, sans-serif;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      color: black;
    }
    th {
      background-color: white;
      color: black;
    }
    button {
      margin-top: 20px;
      padding: 10px 15px;
      border: 2px solid white;
      border-radius: 10px;
      background-color: #CC33FF;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    button:hover {
      background-color: black;
      color: white;
      border: 2px solid #CC33FF;
    }
  </style>
</head>
<body>
  <h1>Таблица данных о мероприятии с кодом "<%= data[0].eventcode %>"</h1>

  

  <table>
    <tr>
      <th>Код мероприятия</th>
      <th>Название мероприятия</th>
      <th>Тип мероприятия</th>
      <th>Дата утверждения</th>
      <th>Описание мероприятия</th>
      <th>Отвественное лицо</th>
      <th>Состояние</th>
      <th>Место проведение</th>
      <th>Плановые расходы (руб)</th>
      <th>Актуальные расходы (руб)</th>
      <th>Планируемое кол-во участников</th>
      <th>Актуальное кол-во участников</th>
      <th>Код заказчика</th>
      <th>Дата и время начала мероприятия</th>
      <th>Дата и время окончания мероприятия</th>
    </tr>
    <% data.forEach(row => { %>
      <tr>
        <td><%= row.eventcode %></td>
        <td><%= row.eventname %></td>
        <td><%= row.eventtypecode %></td>
        <td><%= row.dateofapproval %></td>
        <td><%= row.descriptionoftheevent %></td>
        <td><%= row.employeecode %></td>
        <td><%= row.condition %></td>
        <td><%= row.venue %></td>
        <td><%= row.plannedexpenses %></td>
        <td><%= row.actualexpenses %></td>
        <td><%= row.plannednumberP %></td>
        <td><%= row.actualnumberP %></td>
        <td><%= row.customercode %></td>
        <td><%= row.start %></td>
        <td><%= row.end %></td>
      </tr>
    <% }); %>
  </table>
  <br> <button onclick="location.href='/events'">вернуться к формам</button>
  <br> 

</body>
</html>
