
<!DOCTYPE html>
<html>
<head>
  <title>Таблица данных о сотруднике</title>
  <style>
    body {
      background-color: black;
    }
    table {
      background-color: white;
      border: 2px solid white;
      border-radius: 10px;
      width: 70%; 
      margin: 20px auto; 
      color: black;
      font-family: Arial, sans-serif;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      color: black;
    }
    th {
      background-color: white;
      color: black;
    }
    button {
      margin-top: 20px;
      padding: 10px 15px;
      border: 2px solid white;
      border-radius: 10px;
      background-color: #9999CC;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    button:hover {
      background-color: black;
      color: white;
      border: 2px solid #9999CC;
    }
  </style>
</head>
<body>
  <h1>Таблица данных о сотруднике "<%= data[0].employeecode %>"</h1>

  <table>
    <tr>
      <th>Код сотрудника</th>
      <th>Должность</th>
      <th>Телефон</th>
      
      <th>Дополнительная информация</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
    </tr>
    <% data.forEach(row => { %>
      <tr>
        <td><%= row.employeecode %></td>
        <td><%= row.post %></td>
        <td><%= row.telephone %></td>
        
        <td><%= row.additionalinformation %></td>
        <td><%= row.name %></td>
        <td><%= row.lastname %></td>
        <td><%= row.patronymic %></td>
      </tr>
    <% }); %>
  </table>
  <br> <button onclick="location.href='/staff'">вернуться к формам</button>
  <br> 
</body>
</html>
